/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f0f7f9;
  color: #002933;
}

/* banner.css */

.Banner {
  margin: 10px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #002933;
  background-color: #80e5ff;
  border: 2px solid #005266;
  border-radius: 10px;
}

/* exhibit.css */

.Exhibit {
  margin: 10px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #002933;
  background-color: #c7edff;
  border: 2px solid #005266;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ExhibitContent {
  margin-top: 10px;
  font-size: 1.2em;
  color: #004d66;
  background-color: #e5f5fc;
  padding: 10px;
  border: 2px solid #66a3d2;
  border-radius: 8px;
}

/* address.css */

.addrDisplay {
  font-size: 1.3em;
  color: #004d66;
  background-color: #e5f5fc;
  padding: 10px;
  border: 2px solid #66a3d2;
  border-radius: 8px;
}
